<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header::Head">
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/user.js"></script>
<body>
<section class="hero is-medium has-text-centered">
    <br>
    <div id="hello">

    </div>
    <div class="hero-head">
        <div class="container">
            <a href="/" class="title is-3 is-white">F4GOGO<i class="fa fa-home"></i></a>
        </div>
    </div>
    <br>
    <div class="hero-head">
        <div class="container">
            <input id="id-txt-user" class="input is-rounded is-size-5-desktop is-size-7-mobile has-text-centered"
                   placeholder="닉네임 입력" onkeyup="this.value=this.value.replace(/[^a-zA-z0-9ㄱ-힣]/g,'');"><br><br>
            <button onclick="searchUsers()"
                    class="button is-white is-size-5-desktop is-size-7-mobile is-inverted has-text-weight-bold">다른 유저 조회&nbsp;<i
                    class="fad fa-search"></i>
            </button>
        </div>
    </div>
    <br>
</section>
<section class="hero is-small has-text-centered">
    <br>
    <div class="hero-body">
        <div class="container has-text-white is-size-2-desktop is-size-4-mobile">
            <div>
                <p>
                    <span class="has-text-weight-bold" th:text="${user.getUserName()}">유저이름이너무길어요</span>
                    <span class="has-text-weight-light has-text-grey-lighter is-size-6">님의 검색 결과</span>
                </p>
                <hr>
            </div>
            <div class="card column is-three-fifths is-offset-2">
                <div class="card-content">
<!--                    <figure style="width: fit-content; display: inline-block" class="card-image is-96x96">-->
<!--                        <img src="https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p214100.png"-->
<!--                             alt="image">-->
<!--                    </figure>-->
<!--                    <div>-->
<!--                        <p class="subtitle is-black is-size-4-desktop is-size-6-mobile mb-0">루드 굴리트</p>-->
<!--                        <small class="is-size-7">루드 굴리트 선수의 가호가 함께합니다.</small>-->
<!--                    </div>-->
                    <div class="content is-size-4-desktop is-size-6-mobile">
                        <br>
                        <small>감독레벨</small>
                        <p class="has-text-primary has-text-weight-bold" th:text="|${user.getLevel()}|">259</p>
                        <small>최고순경</small>
                        <p class="has-text-primary-dark has-text-weight-bold" th:text="|${rank}|">월드클래스1</p>
                        <button id="id-btn-gangsin" th:onclick="getGangsin([[${user.getUserId()}]])" disabled
                                class="button is-white is-size-4-desktop is-size-6-mobile is-inverted has-text-weight-bold">
                            갱신하기 &nbsp;
                            <i class="fa fa-redo"></i>
                        </button>
                        <br>
                        <small id="id-text-gangsintime" class="has-text-grey"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="id-section-nodata" class="hero is-medium" style="display: none">
    <div class="hero-body">
        <div class="container has-text-white has-text-centered">
            <h2 class="is-size-2 has-text-danger">최근 1 on 1 순위경기가 없습니다!</h2>
        </div>
    </div>
</section>
<section id="id-all-match" class="hero is-small">
    <br><br>
    <div class="hero-body">
        <div class="container has-text-white has-text-centered">
            <h1 class="title is-size-2-desktop is-size-4-mobile">1 on 1 순위경기 요약</h1>
            <p class="is-size-5-desktop is-size-7-mobile">조기에 몰수된 경기기록은 제외됩니다.</p>
            <div class="tabs is-green is-centered is-toggle is-toggle-rounded is-fullwidth is-justify-content-center">
                <ul class="has-text-weight-bold column tabs outer">
                    <li class="is-active"><a href="#id-tab-basic">기본</a></li>
                    <li><a href="#id-tab-mvps">MVPS</a></li>
                    <li><a href="#id-tab-anal">분석</a></li>
                </ul>
            </div>
            <div>
                <div id="id-tab-basic" class="container tab_content columns outer">
                    <div id="basic-goal-chart" class="column">

                    </div>
                    <div id="basic-win-chart" class="column">

                    </div>
                    <div id="basic-gtime-chart" class="column"></div>
                </div>
                <div id="id-tab-mvps" class="container tab_content outer">
                    <div id="mvps">
                        <br>
                        <div class="tile is-ancestor">
                            <div class="tile is-child p-1">
                                <article id="mvp-goalgetter" class="tile is-child box is-relative">
                                    <p class="is-size-4-desktop is-size-6-mobile">최다 득점 선수</p><br>
                                </article>
                            </div>
                            <div class="tile is-child p-1">
                                <article id="mvp-star" class="tile is-child box is-relative">
                                    <p class="is-size-4-desktop is-size-6-mobile">최고 평점 선수</p><br>
                                </article>
                            </div>
                            <div class="tile is-child p-1">
                                <article id="mvp-assister" class="tile is-child box is-relative">
                                    <p class="is-size-4-desktop is-size-6-mobile">최다 도움 선수</p><br>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="id-tab-anal" class="container tab_content outer is-size-4-desktop is-size-6-mobile">
                    <div id="anal">
                        <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile">
                            <i class="fa fa-smile" style="color: green"></i>&nbsp;강점
                        </p>
                        <hr>
                        <div class="has-text-success has-text-left columns">
                            <div class="column is-one-fifth-desktop is-one-fifth-tablet"></div>
                            <div id="anal-2" class="column"></div>
                        </div>
                        <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile">
                            <i class="fa fa-frown" style="color: red"></i>&nbsp;약점
                        </p>
                        <hr>
                        <div class="has-text-danger has-text-left columns">
                            <div class="column is-one-fifth-desktop is-one-fifth-tablet"></div>
                            <div id="anal-0" class="column"></div>
                        </div>
                        <div id="anal-gita">
                            <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile">
                                <i class="fa fa-meh"></i>
                                <i class="fa fa-plus" onclick="getAnalGita()"></i>
                            </p>
                            <hr>
                            <div class="has-text-white has-text-left columns">
                                <div class="column is-one-fifth-desktop is-one-fifth-tablet"></div>
                                <div id="anal-1" class="column" style="display: none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="has-text-centered has-text-white">
                <br><br>
                <br><br>
            </div>
        </div>
    </div>
</section>

<section id="id-all-match-list" class="hero is-small">
    <br><br>
    <div class="hero-body">
        <!-- all container -->
        <div id="id-container-matchlist" class="container has-text-white has-text-centered">
            <h1 class="title is-size-2-desktop is-size-4-mobile">1 on 1 최근 전적</h1><br>
        </div>
        <div id="id-derbogi" class="container has-text-white has-text-centered" style="display: none">
            <button
                    class="button is-black is-fullwidth is-size-4-desktop is-size-6-mobile is-inverted has-text-weight-bold">
                더보기&nbsp;
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</section>
<div id="id-finderror" class="container has-text-white has-text-centered has-text-danger is-size-7"></div>
<p id="userid" style="visibility: hidden" th:text="${user.getUserId()}"></p>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>NEXON DEVELOPERS</strong> Based. <br>
            &copy;2021 ehd0309@naver.com <a href="mailto:ehd0309@naver.com"><i class="fa fa-envelope-square"></i></a>
        </p>
    </div>
</footer>
</body>
</html>